.Rproj.user
.Rhistory
.RData
.Ruserdata
rtensorflow.Rproj
autoscan.log
config.log
config.status
autom4te.cache
inst/doc
./tests/MNIST_data/
/tests/MNIST_data/
/tests/saved-models/mnist-model/
.DS_Store
